application:
  limits:
    max-room-members: ${APP_LIMITS_MAX_ROOM_MEMBERS:3}
    max-battles: ${APP_LIMITS_MAX_BATTLES:10}
  settings:
    debug: ${APP_SETTINGS_DEBUG:false}
    client-processing: ${APP_SETTINGS_CLIENT_PROCESSING:true}
    client-collisions-processing: ${APP_SETTINGS_CLIENT_COLLISIONS_PROCESSING:true}
    client-smooth-transition: ${APP_SETTINGS_CLIENT_SMOOTH_TRANSITION:true}
    create-surfaces: ${APP_SETTINGS_CREATE_SURFACES:false}
    show-shell-trajectory: ${APP_SETTINGS_SHOW_SHELL_TRAJECTORY:false}
    user-battle-queue-timeout: 10000
    message-timeout: 600000
    room-invitation-timeout: 60000
    additional-resolve-collisions-iterations-number: 5
spring:
  application:
    name: artilleryonline
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    username: ${DB_USERNAME}
  flyway:
    locations: classpath:db/migration
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
